.titleContainer {
    background: linear-gradient(135deg, #72147e 0%, #93278f 50%, #a82ff0 100%);
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .titleText {
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 0;
    padding: 0;
    font-size: 2rem; 
  }
  
  .subText {
    color: #ade8f4; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
  }