.image-container img, .carousel img {
    max-width: 100%;
    height: auto;
}

.intro-paragraph {
    margin: 0 auto 50px;
    font-size: 20px;
    text-align: center;
    max-width: 90%;
}

.list-group-custom-item {
    margin: 0 auto;
    max-width: 300px;
}

.testimonies-container-large {
    margin-right: 400px; 
}


@media (max-width: 768px) {
    .custom-header h1 {
        font-size: 20px; 
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    }

    .container .text-container p, .container .row .col-md-6 p {
        margin-left: 10px;
        margin-right: 10px;
        font-size: 16px; 
        text-align: justify;
    }

    .list-group-item {
        margin-left: 0; 
        width: auto; 
    }

    .carousel, .carousel img, .row.mt-5 .col-md-12 {
        max-width: 100%;
        height: auto;
    }

    .intro-paragraph {
        margin: 20px auto;
        font-size: 18px; 
    }

    .list-group-custom-item {
        margin: 10px auto; 
        max-width: 90%; 
    }

    .testimonies-container-large {
        margin-right: 0px; 
    }
    
}